@import "tailwindcss";
@plugin "tailwindcss-animate";
@config "../tailwind.config.js";

html, body, #root {
    height: 100dvh;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100dvh;
}

.poppins-bold {
    font-weight: 700; /* Bold */
}

.poppins-medium {
    font-weight: 500; /* Medium */
}

.poppins-semibold {
    font-weight: 600; /* SemiBold */
}
